<!DOCTYPE html>
<html>
  <head>
    <title>Golden B Designs</title>
    <%= csrf_meta_tags %>
     <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  </head>


  <body>
    <div class="container">
      <header>
        <%= image_tag "contact.jpg" %>
      </header>
      <div class="nav-bar">
        <%= link_to 'Home', root_path %>
        <%= link_to 'Fresh To Order', fresh_index_path %>
        <%= link_to 'Events', events_path %>
        <%= link_to 'Testimonials', testimonials_path %>
        <%= link_to 'About', about_path %>

      </div>
      <div class="row">
        <div class="one-half column" style="margin-top: 25%">
          <%= yield %>
        </div>
      </div>
    </div>
</body>

</html>
