<!DOCTYPE html>
<html>
  <head>
    <title>Golden B Designs</title>
    <%= csrf_meta_tags %>
     <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  </head>


  <body>
    <div class="container">
      <header>
        <br>
        <div class="nav-bar row">
          <%= link_to 'Home', root_path, class: "two columns", id:"home"  %>
          <%= link_to 'Fresh To Order', fresh_index_path, class: "two columns", id:"fresh" %>
          <%= link_to 'Events', events_path, class: "two columns", id:"events" %>
          <%= link_to 'Testimonials', testimonials_path, class: "two columns", id:"testimonials" %>
          <%= link_to 'About', about_path, class: "two columns", id:"about" %>
          <a href="https://www.facebook.com/goldenbdesigns/" target="_blank" class="two columns" id="facebook">Facebook</a>
        </div>
      </header>
      <div class="row">
        <div style="margin-top: 25%">
          <%= yield %>
        </div>
      </div>
      <footer>
          <div class="center">
            <p class="footer"><strong>Golden B Designs</strong></p>
            <p class="footer">Barbara Kaber</p>
            <p class="footer">310.710.0141</p>
            <p class="footer">barbara@goldenbdesigns.com</p>
            <p class="footer">Copyright © Golden B Designs </p>
          </div>
      </footer>
    </div>
</body>

</html>
